<!DOCTYPE html>
<mat-form-field appearance="outline">
  <input type="text" aria-label="Major" matInput [value]="majorControl.value?.name" [matAutocomplete]="auto" (blur)="onInputBlur($event)" />
  <mat-autocomplete requireSelection [displayWith]="displayFn" #auto>
    <div *ngFor="let major of filteredMajors | async">
      <mat-option (onSelectionChange)="onSelectionChange($event)" class="option" [value]="major">
        {{ major }}
      </mat-option>
      <mat-divider></mat-divider>
    </div>
  </mat-autocomplete>
  <button
    type="button"
    mat-icon-button
    matSuffix
    (click)="onDelete.emit()"
    [attr.aria-label]="'Delete item {{ i }}'"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <mat-error *ngIf="majorControl.hasError('invalidMajor') && majorControl.touched">
    Please specify a valid major.
  </mat-error>
  <mat-error *ngIf="majorControl.hasError('required') && majorControl.touched">
    Please specify a value.
  </mat-error>
</mat-form-field>
