<!DOCTYPE html>
<mat-form-field appearance="outline">
  <input type="text" aria-label="Major" matInput [formControl]="majorNameControl" [matAutocomplete]="auto" (blur)="onInputBlur($event)" />
  <mat-autocomplete requireSelection #auto>
    <div *ngFor="let major of filteredMajors | async">
      <mat-option class="option" [value]="major">
        {{ major }}
      </mat-option>
      <mat-divider></mat-divider>
    </div>
  </mat-autocomplete>
  <button
    type="button"
    mat-icon-button
    matSuffix
    (click)="onDelete.emit()"
    [attr.aria-label]="'Delete item {{ i }}'"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <mat-error *ngIf="majorNameControl.hasError('invalidMajor') && majorNameControl.touched">
    Please specify a valid major.
  </mat-error>
  <mat-error *ngIf="majorNameControl.hasError('required') && majorNameControl.touched">
    Please specify a value.
  </mat-error>
</mat-form-field>
