<div class="user-container">
  <div *ngIf="(displayName$ | async)" class="user-name">
    {{ user.firstName }} {{ user.lastName }}
  </div>
  <button [matMenuTriggerFor]="userMenu" class="user-button" mat-raised-button>
    <img *ngIf="profileURL"
         [src]="profileURL"
         alt="User Image"
         class="profile-picture"
         height="50"
         width="50">
    <mat-icon *ngIf="!profileURL" class="profile-picture-placeholder">
      account_circle
    </mat-icon>
    <div class="overlay"></div>
  </button>
</div>

<mat-menu #userMenu class="user-menu" xPosition="before">
  <div class="menu-content">
    <div *ngIf="authService.user$ | async as user"
         class="toggle-button-container">
      <div (click)="toggleViewMode()"
           *ngIf="(authService.user$ | async)?.hasAdminPrivileges()"
           mat-menu-item>
        <mat-slide-toggle [(ngModel)]="isStudentView">
          Toggle Student View
        </mat-slide-toggle>
      </div>
    </div>

    <button (click)="openSettings()" class="settings-button" mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>

    <button (click)="logout()" class="logout-button" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </div>
</mat-menu>
