<mat-card>
  <mat-card-header>
    <mat-card-title><h5>{{event.name}}</h5></mat-card-title>
    <mat-card-subtitle>{{eventDate()}} at {{event.location}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <img mat-card-image *ngIf="!!imageUrl" [ngSrc]="imageUrl" [alt]="event.name" width="576" height="576">
  <mat-card-content>
    <p>
      {{event.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-flat-button (click)="goToEvent()">More Info</button>
  </mat-card-actions>
</mat-card>
