<div class="app-container scrollbar">
  <div
    class="header-container"
    *ngIf="needsNavBar()"
  >
    <logo-link [showTitle]="(showTitle$ | async) ?? false"></logo-link>

    <div class="header">
      <ng-container *ngIf="needsNavBar()">
        <app-user-menu
          class="logout-button"
        ></app-user-menu>
      </ng-container>
    </div>

  </div>
  <div class="body-container">
    <ng-container *ngIf="needsNavBar()">
      <app-navbar class="navbar"></app-navbar>
    </ng-container>
    <router-outlet></router-outlet>
  </div>
  <app-footer *ngIf="needsNavBar()"></app-footer>
</div>
