<div class="support-links-container">
  <div class="title-bar">School of Business Support Links</div>
  <div class="content">
    <div class="tabs">
      <button *ngFor="let tab of tabs; let i = index"
              (click)="selectTab(i)"
              [class.active]="selectedTab === i">
        {{ tab.label }}
      </button>
    </div>
    <div class="tab-content" #tabContent>
      <ng-container [ngSwitch]="selectedTab">
        <div *ngSwitchCase="0">
          <h3>Maureen Melville</h3>
          <p>mmelvill@oswego.edu</p>
          <a href ='https://professormoville.youcanbook.me/'>Schedule a Time</a>
          <h4>Fall 2024 Office Hours:</h4>
          <p>Available on Campus:</p>
          <p>Tuesday,  9 am-2 pm</p>
          <p>Friday, 12:30-2 pm</p>

          <p>Available Zoom only:</p>
          <p>Thursday, 9 am-1:30 pm (Zoom Only)</p>
        </div>
        <div *ngSwitchCase="1">
          <h3>Business Administration Student Advisement Center (BASAC)</h3>
          <p>To schedule time with the Business Administration Student Advisement Center email basac@oswego.edu</p>
          <p>Alicia King</p>
          <p>Director, School of Business Advertisement</p>
          <p>alicia.king@oswego.edu</p>
        </div>
        <div *ngSwitchCase="2">
          <h3>Document Templates</h3>
          <p>Resume Templates : Our templates help you communicate your skills, experiences, and accomplishments to make a strong impression on employers.</p>
          <p>Cover Letter Templates: Introduce yourself confidently with a cover letter suited for business roles.</p>
        </div>
        <div *ngSwitchCase="3">
          <h3>LinkedIn Learning</h3>
          <p>LinkedIn Learning offers a variety of courses that allow you to enhance your career readiness. Gain in-demand skills and earn certificates that boost your resume.</p>
          <a href="https://cas-prod.oswego.edu:8443/cas/login?service=https%3A%2F%2Fauth.oswego.edu%2Fsimplesaml%2Fmodule.php%2Fcas%2Flinkback.php%3FstateID%3D_a2825ee9d52b9fca11acef5c54ab863b32d41c4879%253Ahttps%253A%252F%252Fauth.oswego.edu%252Fsimplesaml%252Fsaml2%252Fidp%252FSSOService.php%253Fspentityid%253Dhttps%25253A%25252F%25252Fwww.linkedin.com%25252Flearning%25252FABEAAAAAAAKNksQAAAAAAsnc5AFCiUKoq3tc9BkTfiJzM-SmDCrubw%2526cookieTime%253D1567014956%2526RelayState%253Dhttps%25253A%25252F%25252Fwww.linkedin.com%25252Flearning%25252F%25253Fauth_uuid%25253DsZ4hoUINSbGKKDRIGBStzw%2525253D%2525253D">Oswego State's LinkedIn Learning</a>
        </div>
        <div *ngSwitchCase="4">
          <h3>Contacts for Support</h3>
          <p>School of Business<br>238 Rich Hall<br>315-312-2272<br>business@oswego.edu</p>
          <p>Admissions<br>Undergraduate Admissions : 315-312-2250<br>Graduate Admissions : 315-312-3152</p>
          <p>Advisement Center<br>151 Marano Campus Center<br>315-312-2387<br>advisement@oswego.edu</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>

