<div class="users-page-container">

  <div class="header-container">
    <h1>Users</h1>

    <div class="search-bar-container">

      <!-- Search Bar -->
      <mat-form-field appearance="fill" class="search-bar">
        <input (input)="onSearch()" [(ngModel)]="searchTerm" matInput
               placeholder="Search">
      </mat-form-field>

      <!-- Year Dropdown -->
      <mat-form-field appearance="fill" class="year-filter">
        <mat-select (selectionChange)="applyYearFilter()"
                    [(ngModel)]="selectedYear"
                    placeholder="Filter by Year">
          <mat-option [value]="null">All Years</mat-option>
          <mat-option *ngFor="let year of availableYears"
                      [value]="year">{{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <table [dataSource]="dataSource" mat-table>

    <!-- Picture Column -->
    <ng-container matColumnDef="picture">
      <th *matHeaderCellDef mat-header-cell>Picture</th>
      <td *matCellDef="let element" mat-cell>
        <img *ngIf="element.profilePictureURL != null"
             [src]="element.profilePictureURL"
             alt="Profile Picture" class="profile-picture" height="50"
             width="50">
        <mat-icon *ngIf="element.profilePictureURL == null"
                  class="profile-placeholder">account_circle
        </mat-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let element"
          mat-cell>{{ element.firstName }} {{ element.lastName }}
      </td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th *matHeaderCellDef mat-header-cell>Year</th>
      <td *matCellDef="let element" mat-cell>
        <div class="year-container">
          <span>
            {{ YearLevel.displayName(element.studentDetails?.yearLevel) ?? '---------' }}
          </span>
          <edit-year-menu *ngIf="(user$ | async)?.hasAdminPrivileges()"
                          [targetStudent]="element"></edit-year-menu>
        </div>
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell>Email</th>
      <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th *matHeaderCellDef mat-header-cell>Role</th>
      <td *matCellDef="let element" class="role-cell" mat-cell>
        <div class="role-container">
          {{ element.formattedRole }}
          <app-edit-role-menu *ngIf="(user$ | async)?.hasAdminPrivileges()"
                              [user]="element"></app-edit-role-menu>
        </div>
      </td>
    </ng-container>

    <!-- Column with Buttons -->
    <ng-container matColumnDef="buttons">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" class="buttons-cell" mat-cell>
        <ng-container *ngIf="!element.hasFacultyPrivileges()">
          <button [routerLink]="'/faculty/portfolio/' + element.id"
                  mat-raised-button>
            Portfolio
          </button>
          <button [routerLink]="'/faculty/milestones/' + element.id"
                  color="primary"
                  mat-raised-button>
            Milestones
          </button>
        </ng-container>
      </td>
    </ng-container>

    <!-- Assign column definition to table rows -->
    <tr *matHeaderRowDef="(isMobile$ | async) ? mobileColumns: desktopColumns"
        mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: (isMobile$ | async) ? mobileColumns: desktopColumns;"
      mat-row></tr>
  </table>

  <!-- Pagination -->
  <mat-paginator
    (page)="onPageChange($event)"
    [length]="totalItems"
    [pageIndex]="currentPage"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="pageSize">
  </mat-paginator>
</div>
