
<!DOCTYPE html>
<div class="card-body-section-header">
  <h2>Skills</h2>
  <button mat-mini-fab >
    <mat-icon>edit</mat-icon>
  </button>
</div>
<div class="card-body-section-body content">
  <div>
    <span class="title">Majors</span>
    <span class="value">
<!--      <span *ngFor="let degreeProgram of majors(); index as i">-->
<!--        <span-->
<!--        >{{ degreeProgram }}{{ i < majors().length - 1 ? ", " : "" }}</span-->
<!--        >-->
<!--      </span>-->
    </span>
  </div>
  <div>
    <span class="title">Minors</span>
    <span class="value">
<!--      <span *ngFor="let degreeProgram of minors(); index as i">-->
<!--        <span-->
<!--        >{{ degreeProgram }}{{ i < minors().length - 1 ? ", " : "" }}</span-->
<!--        >-->
<!--      </span>-->
    </span>
  </div>
  <div>

  </div>
  <div>
    <span class="title">Year</span>

  </div>
  <div>
    <span class="title">GPA</span>
  </div>
</div>

