<mat-form-field appearance="outline">
  <input [formControl]="majorNameControl" [matAutocomplete]="auto"
         aria-label="Major"
         matInput type="text"/>
  <mat-autocomplete #auto [displayWith]="displayFn">
    <ng-container *ngIf="(filteredMajors | async)!.length > 0">
      <mat-option *ngFor="let option of filteredMajors | async"
                  [value]="option">
        {{ option }}
      </mat-option>
    </ng-container>
    <ng-container *ngIf="(filteredMajors | async)!.length == 0">
      <mat-option disabled>No results</mat-option>
    </ng-container>
  </mat-autocomplete>
  <button
    (click)="onDelete.emit()"
    [attr.aria-label]="'Delete item {{ i }}'"
    mat-icon-button
    matSuffix
    type="button"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <mat-error
    *ngIf="majorNameControl.hasError('duplicateMajor') && majorNameControl.touched">
    You've already added '{{ majorNameControl.value }}' as a major.
  </mat-error>
  <mat-error
    *ngIf="majorNameControl.hasError('invalidMajor') && majorNameControl.touched">
    Please specify a valid major.
  </mat-error>
  <mat-error
    *ngIf="majorNameControl.hasError('required') && majorNameControl.touched">
    Please specify a value.
  </mat-error>
</mat-form-field>
