<!-- this is from milestones-page -->
<div class="milestone-page-container">
  <div *ngIf="dataLoaded; else loading" class="milestone-container">
    <h1>Milestones</h1>
      <mat-accordion multi class="accordion">
        <mat-expansion-panel [expanded]="!yearCompleted(yearLevel)" class="year-container" *ngFor="let yearLevel of yearLevels">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="year-header">
                {{yearLevel}}
              </p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p *ngFor="let milestone of milestonesMap.get(yearLevel)">
            <mat-expansion-panel [expanded]="!completedMilestones.includes(milestone.milestoneID)" class="milestone-panel">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <label for="milestone name">
                  <mat-checkbox [disabled]="true" [checked]="completedMilestones.includes(milestone.milestoneID)"
                    color="primary" (click)="$event.stopPropagation()" id="milestone name"></mat-checkbox>
                  </label>
                  {{milestone.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-expansion-panel *ngFor="let task of milestone.tasks">
                <mat-expansion-panel-header #panelH (click)="panelH._toggle(); openTask(task)">
                  <div class="flex-vertical-align">
                    <label for="task name">
                    <mat-checkbox [disabled]="true" [checked]="completedTasks.includes(task.taskID)"
                      color="primary" (click)="$event.stopPropagation()" id="task name">
                      {{task.name}}
                    </mat-checkbox>
                    </label>
                  </div>
                </mat-expansion-panel-header>
                <div>{{task.description}}</div>
              </mat-expansion-panel>
            </mat-expansion-panel>
          </p>
          </mat-expansion-panel>
      </mat-accordion>
  </div>
</div>

<ng-template #loading>
  <div class="milestone-container">
    <mat-spinner />
  </div>
</ng-template>
