<div class="event-page-container">
  <div *ngIf="event; else loading" class="event-container">
    <h1 class="event-title">{{ event.name }}</h1>
    <mat-card class="event-card">
      <div
        [ngStyle]="{'grid-template-columns': event.eventLink ? '1fr 1fr 1fr' : '1fr 1fr'}"
        class="event-details-container"
      >

        <div *ngIf="event.eventLink" class="event-image">
          <img [src]="event.photoUrl" alt="Event image"/>
          <h2>Date:</h2>
          <p>{{ event.date | date: 'fullDate' }}</p>
          <h2>Location:</h2>
          <p>{{ event.location }}</p>
        </div>

        <div *ngIf="!event.eventLink" class="qr-event-image-adjustment">
          <img [src]="event.photoUrl" alt="Event image"/>
          <h2>Date:</h2>
          <p>{{ event.date | date: 'fullDate' }}</p>

          <h2>Location:</h2>
          <p>{{ event.location }}</p>
        </div>

        <div *ngIf="event.eventLink" class="event-details">
          <h2>Description</h2>
          <p>{{ event.description }}</p>
        </div>

        <div *ngIf="!event.eventLink" class="qr-event-details-adjustment">
          <h2>Description</h2>
          <p>{{ event.description }}</p>
        </div>

        <div *ngIf="event.eventLink" class="qr-section">
          <h2>Scan the QR Code for the Event</h2>
          <img
            [src]="'https://api.qrserver.com/v1/create-qr-code/?data=' + event.eventLink"
            alt="Event QR Code"
          />
          <a [href]="event.eventLink" class="event-button" target="_blank">More
            Info</a>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<ng-template #loading>
  <div class="event-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
