<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="form-container">
    <div class="faculty-container">
      <!--      TODO: Error handling for all input fields -->
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput required type="email"/>
      </mat-form-field>
      <button (click)="deleteFaculty()" class="delete-btn" color="warn"
              mat-mini-fab>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <button (click)="addNewFaculty()" class="add-btn" mat-stroked-button>
      <mat-icon>add</mat-icon>
      <span>Add Faculty</span>
    </button>
  </div>
</form>
