<div class="career-platforms-container">
  <div class="section-title">Career Search Platforms</div>

  <div class="platforms-content">
    <div class="platform-card">
      <h3 class="platform-title">Handshake</h3>
      <img src="assets/images/handshake.jpg" alt="Handshake Logo" class="platform-logo" />
      <p class="platform-description">
        Handshake is an online recruiting platform for higher education students and alumni. They partner with universities and employers to streamline and simplify the recruiting process.
      </p>
      <a href="https://oswego.joinhandshake.com/login" class="platform-link" target="_blank" rel="noopener noreferrer">Career Services: Handshake</a>
    </div>
    <div class="platform-card">

      <h3 class="platform-title">LinkedIn Job Search</h3>
      <img src="assets/images/linkedin.png" alt="LinkedIn Logo" class="platform-logo" />
      <p class="platform-description">
        Welcome to LinkedIn, the world's largest professional network with more than 1 billion members in more than 200 countries and territories worldwide.
      </p>
      <a href="https://www.linkedin.com/jobs" class="platform-link" target="_blank" rel="noopener noreferrer">LinkedIn: Job Search</a>
    </div>
    <div class="platform-card">
      <h3 class="platform-title">Indeed Search</h3>
      <img src="assets/images/indeed.jpg" alt="Indeed Logo" class="platform-logo" />
      <p class="platform-description">
        Indeed is the #1 job site in the world and a global job matching and hiring platform - giving users access to search for jobs, post resumes, research companies and more.
      </p>
      <a href="https://www.indeed.com/" class="platform-link" target="_blank" rel="noopener noreferrer">Indeed: Job Search</a>
    </div>
    <div class="platform-card">
      <h3 class="platform-title">EXCEL: Experiential Courses and Engaged Learning</h3>
      <p></p>
      <p class="platform-description">
        Starting with a required first-year seminar about experiential learning, you will be exposed to ways that you can put your knowledge into action. Opportunities include: student employment, service-learning, internships and co-ops, and other applied learning courses.</p>
      <a href="https://ww1.oswego.edu/excel/" class="platform-link" target="_blank" rel="noopener noreferrer"> Start building your experience today!</a>
    </div>

  </div>
</div>
