<!DOCTYPE html>
<div class="list-input">
  <label class="label">{{ label }}</label>
  <div *ngFor="let control of arrayControls(); let i = index">
    <mat-form-field
      [hidden]="deleted.has(i)"
      appearance="outline"
      class="list-item"
    >
      <input
        (input)="setValue(control, $event)"
        [value]="getValue(control.value)"
        id="item-{{ i }}"
        matInput
        type="text"
      />
      <button
        (click)="delete(control, i)"
        [attr.aria-label]="'Delete item {{ i }}'"
        mat-icon-button
        matSuffix
        type="button"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="control.hasError('required') && control.touched">
      Please specify a value.
    </mat-error>
  </div>
  <button (click)="addInput()" class="add-button" mat-button type="button">
    {{ addText }}
  </button>
</div>
