<!DOCTYPE html>
<div class="card-body-section-header">
  <h2>Education</h2>
  <button (click)="openEditDialog()" (keypress)="disableEnterKey($event)"
          *ngIf="!this.external" mat-mini-fab>
    <mat-icon>edit</mat-icon>
  </button>
</div>
<div class="card-body-section-body content">
  <div class="student-attribute">
    <span class="title">Majors:</span>
    <span class="value">
      <span *ngFor="let degreeProgram of majors(); index as i">
        <span
        >{{ degreeProgram }}{{ i < majors().length - 1 ? ", " : "" }}</span
        >
      </span>
    </span>
  </div>
  <div class="student-attribute">
    <span class="title">Minors:</span>
    <span class="value">
      <span *ngFor="let degreeProgram of minors(); index as i">
        <span
        >{{ degreeProgram }}{{ i < minors().length - 1 ? ", " : "" }}</span
        >
      </span>
    </span>
  </div>
  <div class="student-attribute">
    <span *ngIf="!(isMobile$ | async)" class="title">University ID:</span>
    <span *ngIf="isMobile$ | async" class="title">U. ID</span>
    <span *ngIf="user.studentDetails?.universityId"
          class="value">{{ user.studentDetails?.universityId }}</span>
  </div>
  <div class="student-attribute">
    <span class="title">Year:</span>
    <span
      class="value">{{ yearDisplay() }}</span>
  </div>
  <div class="student-attribute">
    <span class="title">GPA:</span>
    <span *ngIf="user.studentDetails?.gpa"
          class="value">{{ formatGPA(user.studentDetails?.gpa) }}</span>
  </div>
</div>
