<div class="sites-container">
    <!-- <div style=""> -->
        <h2 class="title">
            Job Resources
        </h2>
    <!-- </div> -->
    <div style="background-color: white; margin: 20px; display: flex; flex-direction: row; gap: 10px; border-radius: 20px; margin-top: 15px;">
        <h3 style="margin: 10px;">
            <a href="https://ww1.oswego.edu/excel/" target = "_blank">EXCEL: Experiential Courses and Engaged Learning</a>
        </h3>
        <p style="margin: 10px;">
            Starting with a required first-year seminar about experiential learning, 
            you will be exposed to ways that you can put your knowledge into action. 
            Opportunities include: student employment, service-learning, internships and co-ops, 
            and other applied learning courses. Start building your experience today!
        </p>
    </div>
    <div style="margin: 10px; display: flex; flex-direction: row; gap: 10px;">
        <div class="site">
            <a href="https://oswego.joinhandshake.com/login" target = "_blank">
                <img src="assets\images\handshake.jpg" alt="Handshake">
            </a>
            <div style="margin: 10px; margin-bottom: 0px; display: flex; flex-direction: column;">
                <h3>
                    <a href="https://oswego.joinhandshake.com/login" target = "_blank">Handshake</a>
                </h3>
                <p>
                    Handshake is an online recruiting platform for higher education students and alumni.
                    They partner with universities and employers to streamline and simplify the recruiting process.
                </p>
            </div>
        </div>
        <div class="site">
            <a href="https://www.linkedin.com/jobs" target = "_blank">
                <img src="assets\images\linkedin.png" alt="LinkedIn">
            </a>
            <div style="margin: 10px; margin-bottom: 0px; display: flex; flex-direction: column;">
                <h3>
                    <a href="https://www.linkedin.com/jobs" target = "_blank">LinkedIn</a>
                </h3>
                <p>
                    Welcome to LinkedIn, the world's largest professional network with more than
                    1 billion members in more than 200 countries and territories worldwide.
                </p>
            </div>
        </div>
        <div class="site">
            <a href="https://www.indeed.com/" target = "_blank">
                <img src="assets\images\indeed.jpg" alt="Indeed">
            </a>
            <div style="margin: 10px; margin-bottom: 0px; display: flex; flex-direction: column;">
                <h3>
                    <a href="https://www.indeed.com/" target = "_blank">Indeed</a>
                </h3>
                <p>
                    Indeed is the #1 job site in the world and a global job matching and hiring platform.
                    More people get hired on Indeed than any other site because we put job seekers first,
                    giving them access to search for jobs, post resumes, research companies and more.
                </p>
            </div>
        </div>
    </div>
</div>